{{#if href}}<a class="c-signpost" href="{{href}}">{{else}}<div class="c-signpost">{{/if}}{{#icon}}

  <div class="o-media__picture">
  <i class="c-signpost__icon c-icon c-icon--{{this}} c-icon--4x" aria-hidden="true"></i>
  </div>{{/icon}}
 <div class="o-media__body">
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  {{#if href}}<span class="c-btn c-btn--medium">{{cta}}</span>{{/if}}</div>
{{#if href}}</a>{{else}}</div>{{/if}}

