//
// SIGNPOSTS
//

.c-signpost {
  @include component;
  text-decoration:none;
  text-align:center;
  color:inherit; 
  display: flex;
  flex-flow: column wrap;
  margin:$base-spacing*2 0;
  h3 {
    margin-bottom: $base-spacing;
  }
  p {
    @include font-size(14px);
    margin-bottom: $base-spacing;
  }
  &:focus {
    
    outline: 2px solid $focus-outline-colour;
    outline-offset: -2px;
  }
  &:hover {
    color: $c-panel-link-hover;
    .c-signpost__icon {
    color:#b53a87;
    }
  }
   
}

.c-signpost__icon {
  color:$c-signpost__icon-color;
  margin-bottom: $base-spacing/4;
  &:hover {
    color:#b53a87;
  }

}
